<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiaodong.hxl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.jiaodong.hxl.HXLApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0e075c314f28c2cd32e784d3595a6a73" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5343478356240b5a1925431a" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="0" />

        <activity
            android:name="com.jiaodong.hxl.LogoActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay"
            android:windowAnimationStyle="@android:style/Animation.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".PackageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".OrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".OrderConfirmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".map.RouteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ContentOverlay" />

        <!-- 以下为友盟统计的组件  -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <activity android:name="com.umeng.fb.ContactActivity"/>
    </application>

</manifest>